/*FileDot Design*/

body{
    font-family: 'Bebas Neue', cursive;
}

img.small{
    width:10%;
    height:10%;
}

img.align-right{
    float: right;
    margin-top:15px;
    margin-left: 15px;
    margin-right: 15px;
}
table{
    width:70%;
    border:1px solid;
}

th, td{
    text-align: left;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}

.tableadd{
    border:0px;
}

.buttonadd{
    background-color: #f5cf14;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    float: right;
    
}

.buttonaddinventory{
    background-color: #f5cf14;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    float: center;
    
    
}

.buttoncancel{
    background-color: #980B84;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    float: center;
}

.modal-lg {
    width: 100%;
  }

.modal-header {
    background-color: #4FB4B0;
    padding:16px 16px;
    color:#FFF;
}

.modal-dialog{
    display:inline-block;
    text-align: left;
    vertical-align: middle;
}