/*FileDot Design*/

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1, button{
    font-family: 'Bebas Neue', cursive;
}

img.small{
    width: 200px;
}

img.align-right{
    float: right;
    margin-top:5px;
    margin-left: 15px;
    margin-right: 15px;
}

.faviconlogo {
    width:16px;
}
.well-lg{
    padding:50px;
}

table{
    border: 1px solid;
}

table, th, td{
    text-align: left;
}

.tableadd, .tableedit{
    border:0px;
}

.tablelogo{
    margin:15px;
    border:0px;
    float:right;
}

.buttonlogout{
    background-color: #980B84;
    color: white;
    margin-left: 25%;
    padding: 10px 30px;
    font-size: 16px;
}

.buttonBack{
    background-color: #4FB4B0;
    color: white;
    margin-bottom: 10px;
    padding: 10px 40px;
    font-size: 16px;
}
.buttonadd{
    background-color: #f5cf14;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    float: right;    
}

.buttonaddinventory{
    background-color: #f5cf14;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    float: center;    
}

.buttoncancel{
    background-color: #980B84;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    float: center;
}

.buttonedit{
    background: #4FB4B0;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    float: right; 
}

.buttoneditinventory{
    background: #4FB4B0;
    color: white;
    padding: 10px 48px;
    font-size: 16px;
    float: center; 
}

.buttondelete{
    background: #f5cf14;
    color: white;
    padding: 10px 48px;
    font-size: 16px;
    float: center; 
}

.buttonyes{
    background: #f5cf14;
    color: white;
    padding: 10px 48px;
    font-size: 16px;
    float: center;
}

.buttonno{
    background-color: #980B84;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    float: center;
}

.modal {
    width:auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
  }

.modal-header {
    background-color: #4FB4B0;
    text-align: left;
    padding:16px 16px;
    color:#FFF;
}

.modal-dialog {
    width: 90%;
    display:inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-backdrop {
    visibility: hidden !important;
}

.modal.in {
    background-color: rgba(0,0,0,0.5);
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

/*delete Modal*/
#deleteclothing {
    padding-left:auto;
    padding-right:auto;
    vertical-align: middle;
}